<%- include("seller-header") -%>
	<div class="clearfix"></div>
	<!-- Header Container / End -->

	<!-- Spacer -->
	<div class="margin-top-90"></div>
	<!-- Spacer / End-->

	<!-- title bar
================================================== -->
	<div class="single-page-header freelancer-header" data-background-image="images/logo.png">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="single-page-header-inner">
						<div class="left-side">
							<div class="header-image freelancer-avatar"><img src="images/user-avatar-big-02.jpg" alt="">
							</div>
							<div class="header-details">
								<h3> Hemaxi Prajapati  <span>  A Threading expert </span></h3>
								<ul>
									<li>
										<div class="star-rating" data-rating="4.0"></div>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<!-- page content
================================================== -->
	<div class="container">
		<div class="row">

			<!-- Content -->
			<div class="col-xl-8 col-lg-8 content-right-offset">

				<!-- Page Content -->
				<div class="single-page-section">
					<h3 class="margin-bottom-25">About Me</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel euismod tellus. Integer placerat turpis at arcu faucibus, quis luctus mauris ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit ultrices orci, quis ultrices ligula mollis id. Sed vestibulum quam a gravida varius. Nulla pretium tincidunt turpis at commodo. Donec volutpat, felis eu varius pulvinar, urna enim gravida urna, et accumsan enim ex sit amet ante. Ut a fermentum nunc. Curabitur volutpat hendrerit libero, vel cursus arcu suscipit vel. Fusce tristique nec ipsum vel vehicula. Curabitur semper orci non nisi consectetur, egestas gravida elit fermentum. Integer dolor urna, volutpat eget commodo condimentum, porta fermentum mauris. Vestibulum vel mi mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

					<p>Aenean dignissim turpis non urna viverra venenatis. Etiam placerat sem ut consequat tincidunt. In hac habitasse platea dictumst. Cras sagittis magna turpis, eget elementum libero pulvinar et. In at justo risus. Phasellus eget pulvinar diam. Duis sit amet massa tortor. Vivamus quis libero vel elit semper blandit vitae quis erat. Donec ornare libero convallis augue tincidunt pellentesque. Aenean tincidunt aliquam libero, in cursus erat venenatis a. Cras et tincidunt urna</p>
				</div>

			</div>


			<!-- Sidebar -->
			<div class="col-xl-4 col-lg-4">
				<div class="sidebar-container">

					<!-- Profile Overview -->
					<div class="profile-overview">
						<div class="overview-item"><strong>$35</strong><span>Hourly Rate</span></div>
						<div class="overview-item"><strong>53</strong><span>Jobs Done</span></div>
						<div class="overview-item"><strong>22</strong><span>Rehired</span></div>
					</div>

					<!-- Button -->
					<a href="#small-dialog" class="apply-now-button popup-with-zoom-anim margin-bottom-50">Make an Offer
						<i class="icon-material-outline-arrow-right-alt"></i></a>

					<!-- Widget -->
					<div class="sidebar-widget">
						<h3>Skills</h3>
						<div class="task-tags">
							<span> Threading</span>
							<span> Sewing</span>
						</div>
					</div>

					<!-- Widget -->
					<div class="sidebar-widget">
						<h3>Attachments</h3>
						<div class="attachments-container">
							<a href="#" class="attachment-box ripple-effect"><span> Portfolio</span><i>PDF</i></a>
						</div>
					</div>


				</div>
			</div>

		</div>
	</div>



	<!-- Make an Offer Popup
================================================== -->
	<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

		<!--Tabs -->
		<div class="sign-in-form">

			<ul class="popup-tabs-nav">
				<li><a href="#tab">Make an Offer</a></li>
			</ul>

			<div class="popup-tabs-container">

				<!-- Tab -->
				<div class="popup-tab-content" id="tab">

					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>Discuss your project with David</h3>
					</div>

					<!-- Form -->
					<form method="post">

						<div class="input-with-icon-left">
							<i class="icon-material-outline-account-circle"></i>
							<input type="text" class="input-text with-border" name="name" id="name"
								placeholder="First and Last Name" />
						</div>

						<div class="input-with-icon-left">
							<i class="icon-material-baseline-mail-outline"></i>
							<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress"
								placeholder="Email Address" />
						</div>

						<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

						<div class="uploadButton margin-top-25">
							<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload"
								multiple />
							<label class="uploadButton-button ripple-effect" for="upload">Add Attachments</label>
							<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files
								size: 50 MB.</span>
						</div>

					</form>

					<!-- Button -->
					<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Make
						an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

				</div>
				<!-- Login -->
				<div class="popup-tab-content" id="loginn">

					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>Discuss Your Project With Tom</h3>
					</div>

					<!-- Form -->
					<form method="post" id="make-an-offer-form">

						<div class="input-with-icon-left">
							<i class="icon-material-outline-account-circle"></i>
							<input type="text" class="input-text with-border" name="name2" id="name2"
								placeholder="First and Last Name" required />
						</div>

						<div class="input-with-icon-left">
							<i class="icon-material-baseline-mail-outline"></i>
							<input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2"
								placeholder="Email Address" required />
						</div>

						<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

						<div class="uploadButton margin-top-25">
							<input class="uploadButton-input" type="file" accept="image/*, application/pdf"
								id="upload-cv" multiple />
							<label class="uploadButton-button" for="upload-cv">Add Attachments</label>
							<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files
								size: 50 MB.</span>
						</div>

					</form>

					<!-- Button -->
					<button class="button full-width button-sliding-icon ripple-effect" type="submit"
						form="make-an-offer-form">Make an Offer <i
							class="icon-material-outline-arrow-right-alt"></i></button>

				</div>

			</div>
		</div>
	</div>
	<!-- Make an Offer Popup / End -->





	<%- include("footer") -%>