<%- include("seller-header") -%>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<%- include("seller-sidebar") -%>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>My Active Bids</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="#">Task</a></li>
						<li>Active Bids</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-gavel"></i> Bids List</h3>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">

								<% active_bid_list.forEach(function(active_bid_list){ %>
									<% task.forEach(function(task){ %>
									<% if(active_bid_list.status=='approved') { if(task._id==active_bid_list.taskid){ %>
								<li>
									<!-- Job Listing -->
									<div class="job-listing width-adjustment">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#"><%=task.task_name %></a></h3>
											</div>
										</div>
									</div>
									<ul class="dashboard-task-info">
										<li>Current Status <strong> In making </strong> 	</li>
										<li> Helper <strong> Hemaxi Prajapati</strong></li>
									</ul>
									

									<div class=" " style="display: flex;">
										

										<div style="margin: 0px 10px 0px 0px;" ><a href="#small-dialog-1" class=" popup-with-zoom-anim button button-sliding-icon ripple-effect"> Approve pick up
											<i class="icon-material-outline-arrow-right-alt"></i></a>
										</div>

										<div style="margin: 0px 10px;" ><a href="#small-dialog-2" class="popup-with-zoom-anim button button-sliding-icon ripple-effect"> Received 
											<i class="icon-material-outline-arrow-right-alt"></i></a>
										</div>

										<div style="margin: 0px 10px;" ><a href="#small-dialog-3" class="popup-with-zoom-anim button button-sliding-icon ripple-effect"> Paid
											<i class="icon-material-outline-arrow-right-alt"></i></a>
										</div>
										<div style="margin: 0px 10px;" ><span style ="padding-left: 20px; "> Bill status: <strong  style="color: red;"> Unpaid</strong></span></div>	
										
										
									</div>
								</li>
								<%}} %>
								<% }); %>
								<% }); %>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->
			<!-- Edit Bid Popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Approve pick up </a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Approve order pick up </h3>

				</div>

				<!-- Button -->
				<div class=" " style="display: flex; ">
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect" style = "margin-right: 20px; background-color: green;" type="submit" form="terms"> Confirm <i class="icon-material-outline-arrow-right-alt"></i></button>
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect"  style=" background-color: red;"type="submit" form="terms">Cancel  <i class="icon-material-outline-arrow-right-alt"></i></button>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Approve Delivery </a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Approve order is Received </h3>

				</div>

				<!-- Button -->
				<div class=" " style="display: flex; ">
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect" style = "margin-right: 20px; background-color: green;" type="submit" form="terms"> Received <i class="icon-material-outline-arrow-right-alt"></i></button>
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect"  style=" background-color: red;"type="submit" form="terms">Cancel  <i class="icon-material-outline-arrow-right-alt"></i></button>
				</div>
			</div>

		</div>
	</div>
</div>


<div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Approve Payment </a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3> Click Paid if Payment Done </h3>

				</div>

				<!-- Button -->
				<div class=" " style="display: flex; ">
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect" style = "margin-right: 20px; background-color: green;" type="submit" form="terms"> Paid <i class="icon-material-outline-arrow-right-alt"></i></button>
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect"  style=" background-color: red;"type="submit" form="terms"> Not Paid  <i class="icon-material-outline-arrow-right-alt"></i></button>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Edit Bid Popup / End -->
<%- include("seller-footer") -%>