<div class="dashboard-nav-container">

    <!-- Responsive Navigation Trigger -->
    <a href="#" class="dashboard-responsive-nav-trigger">
        <span class="hamburger hamburger--collapse">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </span>
        <span class="trigger-title">Dashboard Navigation</span>
    </a>

    <!-- Navigation -->
    <div class="dashboard-nav">
        <div class="dashboard-nav-inner">

            <ul data-submenu-title="Start">
                <li <% if(active=='dashboard'){ %> class="active" <% } %>><a href="/dashboard"><i
                            class="icon-material-outline-dashboard"></i> Dashboard</a></li>
            </ul>

            <ul data-submenu-title="Organize and Manage">
                <li <% if(active=='freelancer'){ %> class="active" <% } %>><a href="/freelancers-list"><i class="icon-feather-user"></i> Find a Helper</a></li>
                <li><a><i class="icon-material-outline-assignment"></i> Tasks</a></li>
                <div class="" style="margin-left:2em">
                    <li <% if(active=='managetask'){ %> class="active" <% } %>><a href="/seller-manage-tasks">Manage Tasks <span class="nav-tag">2</span></a>
                    <li <% if(active=='activebid'){ %> class="active" <% } %>><a href="seller-active-bids">My Active Tasks <span class="nav-tag">4</span></a></li>
                    <li <% if(active=='posttask'){ %> class="active" <% } %>><a href="/seller-post-task">Post a Task</a></li>
                </div>

            </ul>

        </div>
    </div>
    <!-- Navigation / End -->

</div>